# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Linux
*~
.directory
.Trash-*
.fuse_hidden*
.nfs*

# Python
.venv/
__pycache__/
*.py[oc]
.ruff_cache/
.pytest_cache/
build/
dist/
wheels/
*.egg-info/

# Secrets
.env
